h1 {
	color: white;
    text-shadow: navy 1px 0 10px;
}

p {
    color: navy
}

.info {
	font-size: small;
    background-color: #dfdfdf}

/*h1 {
	background-color: #7f7fcf;
}*/

h2 {
	/*border: solid 1px black;*/
	margin: 10px;
}

div#zentai {
	display: grid;
	grid-template-columns:1fr 1fr;
	grid-gap: 10px;
	grid-auto-rows: 200px 200px; 
	flex-direction: row;
	width: 1024px;
	padding: 5px;
}

img {
    float: right;}

div#zentai > div {
	/*margin-left: 5px;*/
	background-color: #ffefaf;
}

h2{
    font-family: cursive
}
h2{color: #3f3faf}

h2 {
    background: linear-gradient(to right,white,#ffefaf)}